<!doctype html>
<html>
    <head>
        <title>Youtube Video Downloader</title>
        <link rel="icon" type="image/x-icon" href="/static/youtube.png">

    </head>
    <body>
        <div>
            <h2> Welcome to Youtube video Downloader</h2>
            <form id="linkForm" method="post" action="/download">
                <input type="text" name="link" id="link" placeholder="Enter Youtube Video Link" required="required" />
                <input type="submit" value="Download" />
            </form>
        </div>
    </body>
</html>

